[submodule "vim.symlink/bundle/Vundle.vim"]
	path = vim.symlink/bundle/Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "tmux.symlink/plugins/tpm"]
	path = tmux.symlink/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "oh-my-zsh.symlink"]
	path = oh-my-zsh.symlink
	url = git@github.com:robbyrussell/oh-my-zsh.git
