snippet logger "import logging; logger" b
import logging
logger = logging.getLogger(__name__)
$0
endsnippet

snippet ld "logger.debug('..')" b
logger.debug('$1')
$0
endsnippet

snippet li "logger.info('..')" b
logger.info('$1')
$0
endsnippet

snippet lw "logger.warning('..')" b
logger.warning('$1')
$0
endsnippet

snippet le "logger.error('..')" b
logger.error('$1')
$0
endsnippet

snippet lc "logger.critical('..')" b
logger.critical('$1')
$0
endsnippet
